.tile {
  background-color: white;
  border-width: 1em;
  border-style: solid;
  border: black;
}

.t {
  border: 0.1rem solid black;
}

.footer {
  margin-top: 2em;
}

.metrics {
  margin: 2em 0 2em;
}

.footer_text {
  font-size: 35px;
}

.info_card_right {
  float: right;
  color: blue;
}
